body {
    position: relative;
    font-family: sans-serif;
    overflow: hidden;
    display: none;
    top: 0;
}

/*
.radio {
 background-image: url("../img/radio.png");
 background-repeat: no-repeat;
 background-size: auto;
 background-attachment: fixed;

}
*/

#cursor {
    position: absolute;
    z-index: 999999;
    display: none;
}

#radio {
  width: 367px;
  height: 795px;
  right: 0;
  bottom: 0;
  position: fixed;
}


#onoff {
  position: absolute;
  top: 32%;
  right: 0;
  padding: 40px 40px;
  opacity: .0;
}

.onoff button {
 padding: 40px 55px;

 opacity: .0;
}

.ekran {
  position: absolute;
  padding: 50px 55px;
  top: 49%;
  left: 28.5%;
}
.channel {
  position: absolute;
  top: 0%;
  left: 0%;
}

.channel span {
  text-align: center;
}

.channel input {
  text-align: left;
  border-bottom: 1px solid black;
  background-color: transparent;
  padding: 10px 15px;
  font-size: 20px;
  max-width:100px;
  top: 50px;
}